{% extends "home_page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <title>Hospital - {{ news.title }}</title>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ news.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' news.author.username%}">{{ news.author }}</a>
          <small class="text-muted">{{ news.date_posted|date:"F d, Y, f A" }}</small>
          {% if news.author == user %}
              <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'news-update' news.id%}">Update</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'news-delete' news.id%}">Delete</a>
              </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ news.title }}</h2>
        <p class="article-content">{{ news.content }}</p>
      </div>
    </article>
    {% if user.is_authenticated %}
        <div class="content-section">
            <form action="" method="POST" id="comment-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Comment</legend>
                    {{ form|crispy  }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post Comment</button>
                </div>
            </form>
            <script type="text/javascript">
            $(document).on('submit','#comment-form',function(e){
                e.preventDefault();
                var comment_form = $('#comment-form')
                $.ajax({
                    type:'POST',
                    url:'{% url 'news-detail' news.id %}',
                    data: comment_form.serialize(),
                    header: {'X-CSRFToken' : '{% csrf_token %}'},
                    success:function(response){

                          alert('Saved');
                            }
                    });
            });
            </script>
        </div>
    {% endif %}
    <article class="content-section" id="comment-list">
        {% include 'home_page/comment_list.html' %}
    </article>
{% endblock content %}