{% extends "home_page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <title>Hospital - Profile of {{ profile_user.username }}</title>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ profile_user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ profile_user.username }}</h2>
          <p class="text-secondary">{{ profile_user.email }}</p>
          <p class="text-secondary">{{ profile.get_user_type_display }}</p>
          <a class="mr-2" href="{% url 'user-news' profile_user.username%}">{{ profile_user }}'s News</a>
          {% if user.is_authenticated %}
              {% if profile_user == user%}
                <a class="mr-2" href="{% url 'list-appointment' profile_user.username%}"><br>{{ profile_user }}'s Appointments</a>
                <a class="mr-2" href="{% url 'records' profile_user.username%}"><br>{{ profile_user }}'s Medical Record</a>
                  <div>
                    <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'create-appointment' %}">Make an appointment</a>
                  </div>
              {% endif %}
          {% endif %}
        </div>
      </div>
      {% if user.is_authenticated %}
          {% if profile_user == user %}
              <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Profile Info</legend>
                      {{ u_form|crispy  }}
                      {{ p_form|crispy  }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Update</button>
                  </div>
              </form>
          {% endif %}
      {% endif %}
    </div>
{% endblock content %}